*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 85px;
    text-shadow: 3px 3px #ff0000;;
}